<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Random Dog</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h3>Here’s a random dog for <%= name %></h3>
    <img src="<%= dogImage %>" alt="Random dog" width="300">

    <a href="/">
        <button type="button">Home</button>
    </a>

</body>

</html>